@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Ubuntu:wght@400;700&display=swap');

.body {
    font-family: Montserrat;
    margin: 0 auto;
}

.parallax {
    background-image: url(../img/fon.png);
    min-height: 1012px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.mainMenu {
    width: 618px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 45px;
    padding-top: 50px;
}

.firstsvg {
    fill: rgba(255, 255, 255, 0.6);
    padding-bottom: 48px;
    padding-top: 55px;
    padding-right: 5px;
}

.firstsvg:hover {
    fill: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

a {
    text-decoration: none;
}

.options:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

.logo {
    width: 198px;
    height: 67px;
    padding-right: 305px;
    padding-bottom: 10px;
}

.underline {
    height: 213px;
    margin: 0 auto;
    padding-top: 264px;
}

.ham {
    color: #FFF;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.creative {
    color: #FFF;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 22px;
}

.features {
    color: #D4D4D4;
    font-size: 34px;
    text-align: center;
    padding-top: 22px;
    font-weight: 100;
}

.button {
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    border-top: thick solid #FFF;
    cursor: pointer;
}

.twoBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 364px;
    height: 63px;
    margin: 0 auto;
    padding-top: 134px;
}

.describe {
    display: grid;
    width: 1928px;
    margin: 0 auto;
    padding-top: 10px;
    grid-template-columns: repeat(4, 482px);
    grid-template-rows: 377px;
}

.lines {
    height: 377px;
    width: 482px;
    display: flex;
    flex-direction: column;
    background-color: #18CFAB;
}

.desr {
    padding-top: 48px;
    color: #18CFAB;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

.desrImg {
    padding-top: 97px;
    margin: 0 auto;
}

.our {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    padding-top: 43px;
    position: relative;
}

.our:after {
    content: "";
    display: block;
    width: 75px;
    height: 1px;
    background: #18CFAB;
    right: 85px;
    bottom: -25px;
    position: absolute;
}

.our:before {
    content: "";
    display: block;
    width: 75px;
    height: 1px;
    background: #18CFAB;
    right: 65px;
    bottom: -30px;
    position: absolute;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline-our {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
}

.nametitle {
    background: #F8FCFE;
    color: #717171;
    cursor: pointer;
    border: 1px solid #EDEFEF;
    height: 76px;
    width: 195px;
    text-align: center;
}

.nametitle.active {
    background: url(../img/servisee.png);
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 95px;
    border: none;
    padding-bottom: 20px;
}

.nametitle.active:hover {
    border: none;
}

.nametitle:hover {
    border: 1px solid #18CFAB;
}

.secondfon {
    background: url(../img/fone2.png);
    width: 1920px;
}

.descr {
    display: none;
    height: 136px;
    width: 1182px;
    padding-top: 26px;
    list-style: none;
}

.describe-lorem {
    display: flex;
    width: 1182px;
    justify-content: space-around;
    list-style: none;
}

.img-lorem {
    width: 192px;
    height: 139px;
}

.lorem-text {
    width: 952px;
    height: 136px;
    color: #777;
    font-size: 13.645px;
    font-weight: 300;
}

.secondfon {
    height: 476px;
    margin: 0 auto;
}

.ready {
    color: #18CFAB;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 126px;
}

.smooth {
    color: #D8D8D8;
    text-align: center;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 67px;
}

.secondbtn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.work {
    background: #E9EDEF;
}

.green-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.workheadline {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    padding-top: 45px;
}

.mainfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 97px;
}

.people-say {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    padding-top: 90px;
    position: relative;
}

.people-say:after {
    content: "";
    display: block;
    width: 75px;
    height: 1px;
    background: #18CFAB;
    right: 275px;
    bottom: -25px;
    position: absolute;
}

.people-say:before {
    content: "";
    display: block;
    width: 75px;
    height: 1px;
    background: #18CFAB;
    right: 255px;
    bottom: -30px;
    position: absolute;
}

.greenlines {
    padding-top: 24px;
}

.btnfilter {
    border: 1px solid #DADADA;
    height: 62px;
    padding: 0px 15px;
    text-align: center;
    color: #717171;
}

.btnfilterfirst {
    padding: 0px 29px;
}

.buttonload {
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    padding-right: 15px;
}

.breakingnews {
    height: 958px;
    background-color: #FFFFFF;
}

.li-post {
    cursor: pointer;
}

.blog-post {
    display: grid;
    width: 1157px;
    margin: 0 auto;
    padding-top: 100px;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: 280px;
    gap: 35px;
    padding-bottom: 128px;
}

.post {
    height: 208px;
    display: flex;
    justify-content: end;
    align-items: start;
}

.post1 {background: url(../img/post1.png);}
.post2 {background: url(../img/post2.png);}
.post3 {background: url(../img/post3.png);}
.post4 {background: url(../img/post4.png);}
.post5 {background: url(../img/post5.png);}
.post6 {background: url(../img/post6.png);}
.post7 {background: url(../img/post7.png);}
.post8 {background: url(../img/post8.png);}

.calendar {
    width: 70px;
    height: 68px;
    background-color: #203E38;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-post:hover .calendar {
    background-color: #18CFAB;
}

.li-post:hover .amazingpost {
    color: #18CFAB;
}

.amazingpost {
    color: #717171;
    text-align: center;
    font-size: 17.988px;
    font-weight: 700;
    padding-top: 10px;
}

.admin-coment {
    color: #777;
    text-align: center;
    font-size: 13.991px;
    font-weight: 300;
    padding-top: 10px;
}

.people {
    height: 853px;
    background: url(../img/fone3.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.describe-people {
    color: #BBB;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding-top: 37px;
}

.shape {
    padding-top: 68px;
}

.few-people {
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 37px;
}

.footer {
    height: 121px;
    background: #22353F;
    margin: 0 auto;
}

.footer-text {
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 48px;
}

.hide {
    display: none;
    background: #E9EDEF;
}

.hide-height {
    height: 633px;
    background: #E9EDEF;
    padding-top: 1px;
}

.div-btn {
    height: 230px;
    background: #E9EDEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin: 0;
    width: 700px;
}

.slider {
    box-sizing: border-box;
}

.slider img {
    border: 12px solid rgba(31, 218, 181, 0.3);
    border-radius: 50%;
}

.row img {
    border: 5px solid rgba(31, 218, 181, 0.3);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: 160px;
    color: rgba(187, 187, 187, 1);
    font-weight: bold;
    font-size: 20px;
    border: 1px solid rgba(187, 187, 187, 1);
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(31, 218, 181, 0.5);
    border: none;
}

.text {
    color: #BBB;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 38px;
}

.caption-container {
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 37px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.filterimages-section {
    display: grid;
    width: 1140px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: 206px;
}

.content {
    display: none;
}

.show {
    display: block;
}

.buttons-filters {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 69px;
    padding-bottom: 30px;
}

.btn:hover {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.btn {
    color: #717171;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 12px 16px;
    border: 1px solid rgba(218, 218, 218, 1);
    cursor: pointer;
}

.img-block {
    display: block;
}

.overlay-container {
    position: relative;

}

.overlay-container:hover .overlay {
    opacity: 1;
}

.svg-links {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.creative-des {
    color: #18CFAB;
    font-size: 14.177px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;

}

.web-des {
    color: #8A8A8A;
    font-size: 12.152px;
    font-weight: 300;
    padding-top: 15px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(233, 237, 239, 1);
    border-top: 6px solid #18CFAB;
}